{% load static %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}GTFS Fares Explorer{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'fares/styles.css' %}" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div container>
            <div class="row">
                {% comment %} <div class="col"></div> {% endcomment %}
                <div class="col">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="#">Fares</a>
                        <div>
                            <ul class="navbar-nav mr-auto">
                                {% if user.is_authenticated %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                                    </li>
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'transfer_list' %}">Transfers</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'legrule_list' %}">Leg rules</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'legrule_filtered_list' %}">Leg Rules (filtered)</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'rider_list' %}">Rider Categories</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'network_list' %}">Networks</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'product_list' %}">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'fareconatiner_list' %}">Fare Containers</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
            
                    <div class="mainbody">
                        {% block body %}
                        {% endblock %}
                    </div>
                </div>
                {% comment %} <div class="col"></div> {% endcomment %}
            </div>
        </div>
    </body>
</html>